[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
scipy = "*"
h5py = "*"
matplotlib = "*"
tqdm = "*"
torch-audiomentations = "*"
ipython = "*"
notebook = "*"
calibrationtools = {editable = true, path = "./../calibrationtools"}

[dev-packages]
calibrationtools = {editable = true, path = "./../calibrationtools"}

[requires]
python_version = "3.9"
